<div class="navbar">
        <div class="logo">
            <h2 style="display:inline-block">SOCCER</h2>
            <img src="../assets/soccer 1.png" alt="x" style="margin-bottom: 8px ;">
        </div>
        <div class="menu">
            <ul>
                <li> <a routerLink="/app-home"> Home </a> </li>
                <li><a routerLink="/app-league"> League </a></li>
                <li><a routerLink="/app-teams"> Videos </a></li>
                <li><a routerLink="/app-standings"> Standing </a></li>
                <li><button class="button1"> Log In</button></li>
            </ul>
        </div>
</div>
